<div class="min-h-screen bg-black flex flex-col justify-center items-center">
  <div class="container mx-auto px-4">
    <h1 class="text-4xl font-bold text-white mb-8 text-center">Taller automotríz Los Pits</h1>
    <p class="text-lg text-white mb-8 text-center">Inicia operaciones en el año 2018, dedicándose a la mantención y reparación integral de todo tipo de vehículos.</p>

    <div class="grid grid-cols-2 gap-8">
      <div class="bg-orange-500 p-4 rounded-3xl border">
        <h3 class="text-xl font-bold mb-2 text-white">Diagnóstico avanzado</h3>
        <p class="text-white">Utilizamos equipos de última generación para diagnosticar cualquier problema en tu vehículo, sin importar la marca o modelo.</p>
      </div>
      <div class="bg-orange-500 p-4 rounded-3xl border">
        <h3 class="text-xl font-bold mb-2 text-white">Mantenimiento especializado</h3>
        <p class="text-white">Nuestro equipo de expertos se encarga de realizar las mantenciones preventivas y correctivas necesarias para mantener tu auto en óptimas condiciones.</p>
      </div>
      <div class="bg-orange-500 p-4 rounded-3xl border">
        <h3 class="text-xl font-bold mb-2 text-white">Reparaciones integrales</h3>
        <p class="text-white">Realizamos reparaciones de todo tipo, desde problemas mecánicos hasta trabajos de chapa y pintura.</p>
      </div>
      <div class="bg-orange-500 p-4 rounded-3xl border">
        <h3 class="text-xl font-bold mb-2 text-white">Atención personalizada</h3>
        <p class="text-white">Nuestro equipo de profesionales te brinda una atención cercana y personalizada, asegurándose de entender tus necesidades y ofrecerte soluciones adecuadas.</p>
      </div>
    </div>
  </div>

    <div>
        <footer class="bg-black py-4 text-center text-white">
        &copy; <%= Time.now.year %> Taller automotríz Los Pits. Todos los derechos reservados.
        </footer>
    </div>

</div>
